<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lumino - Gallery</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/datepicker3.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		
		<!--Theme-->
		<link href="css/theme-default.css" rel="stylesheet">
		
		<!--Custom Font-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span></button>
					<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
					<ul class="nav navbar-top-links navbar-right">
						<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<em class="fa fa-envelope"></em><span class="label label-info">15</span>
						</a>
							<ul class="dropdown-menu dropdown-messages">
								<li>
									<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
										<img alt="image" class="img-circle" src="images/profile-pic-2.jpg" width="40">
										</a>
										<div class="message-body"><small class="pull-right">3 mins ago</small>
											<a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
										<br /><small class="text-muted">1:24 pm - 25/03/2015</small></div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
										<img alt="image" class="img-circle" src="images/profile-pic-1.jpg" width="40">
										</a>
										<div class="message-body"><small class="pull-right">1 hour ago</small>
											<a href="#">New message from <strong>Jane Doe</strong>.</a>
										<br /><small class="text-muted">12:27 pm - 25/03/2015</small></div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="all-button"><a href="#">
										<em class="fa fa-inbox"></em> <strong>All Messages</strong>
									</a></div>
								</li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<em class="fa fa-bell"></em><span class="label label-primary">5</span>
						</a>
							<ul class="dropdown-menu dropdown-alerts">
								<li><a href="#">
									<div><em class="fa fa-envelope"></em> 1 New Message
										<span class="pull-right text-muted small">3 mins ago</span></div>
								</a></li>
								<li class="divider"></li>
								<li><a href="#">
									<div><em class="fa fa-heart"></em> 12 New Likes
										<span class="pull-right text-muted small">4 mins ago</span></div>
								</a></li>
								<li class="divider"></li>
								<li><a href="#">
									<div><em class="fa fa-user"></em> 5 New Followers
										<span class="pull-right text-muted small">4 mins ago</span></div>
								</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="images/profile-pic-1.jpg" width="60" alt="User Avatar" class="img-circle" />
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">Username</div>
					<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="divider"></div>
			<form role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>
			<ul class="nav menu">
				<li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
				<li><a href="widgets.html"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li>
				<li><a href="charts.html"><em class="fa fa-bar-chart">&nbsp;</em> Charts</a></li>
				<li><a href="buttons.html"><em class="fa fa-hand-pointer-o">&nbsp;</em> Buttons</a></li>
				<li><a href="forms.html"><em class="fa fa-pencil-square-o">&nbsp;</em> Forms</a></li>
				<li><a href="tables.html"><em class="fa fa-table">&nbsp;</em> Tables</a></li>
				<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
				<li><a href="icons.html"><em class="fa fa-star-o">&nbsp;</em> Icons</a></li>
				<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
					<em class="fa fa-file-o">&nbsp;</em> Pages <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><i class="fa fa-plus"></i></span>
					</a>
					<ul class="children collapse" id="sub-item-1">
						<li class="active"><a class="" href="gallery.html">
							Gallery
						</a></li>
						<li><a class="" href="search.html">
							Search
						</a></li>
						<li><a class="" href="login.html">
							Login
						</a></li>
						<li><a class="" href="error.html">
							Error 404
						</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.sidebar-->
			
		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="#">
						<em class="fa fa-home"></em>
					</a></li>
					<li class="active">Gallery</li>
				</ol>
			</div><!--/.row-->
			
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Gallery</h1>
				</div>
			</div><!--/.row-->
			
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Add new media</div>
						<div class="panel-body">
							<p>Upload new files:</p>
							<label class="btn btn-default">
								<input type="file" hidden>
							</label>
							<button type="button" class="btn btn-default">Upload</button>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							My Gallery
							<div class="btn-group margin pull-right">
								<button type="button" class="btn btn-primary"><span class="fa fa-th"></span></button>
								<button type="button" class="btn btn-default"><span class="fa fa-th-large"></span></button>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item"><a href="#">
									<img class="img-responsive" src="http://via.placeholder.com/300x200" alt="">
									</a>
									<p class="text-center"><a href="#">Gallery Item</a></p>
								</div>
							</div>
						</div>
					</div><!--/.panel-->
					<div class="text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><span class="fa fa-arrow-left"></span></button>
							<button type="button" class="btn btn-default">Previous</button>
							<button type="button" class="btn btn-default">1</button>
							<button type="button" class="btn btn-default">2</button>
							<button type="button" class="btn btn-default">3</button>
							<button type="button" class="btn btn-default">4</button>
							<button type="button" class="btn btn-default">5</button>
							<button type="button" class="btn btn-default">6</button>
							<button type="button" class="btn btn-default">Next</button>
							<button type="button" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<br />
					<br />
					<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
				</div>
			</div><!-- /.row -->
		</div><!--/.main-->
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/chart.min.js"></script>
		<script src="js/chart-data.js"></script>
		<script src="js/easypiechart.js"></script>
		<script src="js/easypiechart-data.js"></script>
		<script src="js/bootstrap-datepicker.js"></script>
		<script src="js/custom.js"></script>
		
	</body>
</html>
