<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Internship Tutor</title>
    </head>
    <body>
        <h1>
            Convenzione Azienda
        </h1>
        <hr>
        <div>
            <h2>Ragione sociale:</h2>
            <p>${azienda.ragioneSociale}</p>
        </div>
        <div>
            <h2>Cognome rappresentante:</h2>
            <p>${azienda.cognomeRappresentante}</p>
        </div>
        <div>
            <h2>Nome rappresentante:</h2>
            <p>${azienda.nomeRappresentante}</p>
        </div>
        <div>
            <h2>Partita Iva/ CF:</h2>
            <p>${azienda.partitaIva}</p>
        </div>
        <div>
            <h2>Nome Responsabile:</h2>
            <p>${azienda.nomeResponsabile}</p>
        </div>
        <div>
            <h2>Cognome Responsabile:</h2>
            <p>${azienda.cognomeResponsabile}</p>
        </div>
        <div>
            <h2>Telefono Responsabile:</h2>
            <p>${azienda.telResponsabile}</p>
        </div>
        <div>
            <h2>Email Responsabile:</h2>
            <p>${azienda.emailResponsabile}</p>
        </div>
        <div>
            <h2>Indirizzo sede:</h2>
            <p>${azienda.indirizzoSede}</p>
        </div>
        <div>
            <h2>Città:</h2>
            <p>${azienda.citta}</p>
        </div>
        <div>
            <h2>Cap:</h2>
            <p>${azienda.cap}</p>
        </div>
        <div>
            <h2>Provincia </h2>
            <p>${azienda.provincia}</p>
        </div>
        <div>
            <h2>Foro competente:</h2>
            <p>${azienda.foroCompetente}</p>
        </div>
        <div>
            <h2>Date avvio convenzione:</h2>
            <p>${azienda.dataIscrione}</p>
        </div>
        <div>
            <h2>Date termine convenzione:</h2>
            <p>${azienda.dataTermine}</p>
        </div>
    </body>
</html>
