<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"> <em class="fa fa-home"></em> </a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-1">
            <div class="panel panel-primary ">
                <div class="panel-heading "> Info tirocinio</div>
                <div class="panel-body timeline-container">
                    <div class="text-center">
                        <p>Tutore: #nomeTutore</p>
                        <p>Email: #emailTutore</p>
                        <p>Azienda: #nomeAzienda</p>
                        <p>Indirizzo: #indirizzoAzienda</p>
                        <p>Contatti: #telefonoAzienda</p>
                    </div>							
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-body timeline-container">
                    <div class="text-center ">
                        <p>Valuta l'esperienza di tirocinio e scarica l'attestato:</p>
                        <form>
                            <div class="rating">
                                <input type="radio" id="star1" name="rating" value="5" /><label class = "full" for="star1" title="1 stars"></label>
                                <input type="radio" id="star2" name="rating" value="4" /><label class = "full" for="star2" title="2 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                                <input type="radio" id="star4" name="rating" value="2" /><label class = "full" for="star4" title="4 stars"></label>
                                <input type="radio" id="star5" name="rating" value="1" /><label class = "full" for="star5" title="5 star"></label>
                            </div>
                            <div>
                                <input type="submit" class="form-contol btn btn-success" name="download" value="DOWNLOAD"/>
                            </div>
                        </form>							
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
 </div><!--/.main--> 
