<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"> <em class="fa fa-home"></em> </a></li>
            <li class="active">Home</li>
        </ol>
    </div><!--/.row-->
    
    <#list tirocini as tirocinio>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-1">
            <div class="panel panel-primary ">
                <div class="panel-heading ">Tirocinio presso ${tirocinio.getAnnuncio().getAzienda().getRagioneSociale()}</div>
                <div class="panel-body timeline-container">
                    <div class="text-center">
                        <p>Email: ${tirocinio.getAnnuncio().getDocente().getEmail()}</p>
                        <p>Indirizzo: ${tirocinio.getAnnuncio().getAzienda().getIndirizzoSede()}</p>
                        <p>Contatti: +39 ${tirocinio.getAnnuncio().getAzienda().getTelResponsabile()} </p>
                        <p>Tutore: ${tirocinio.getAnnuncio().getDocente().getCognome()} ${tirocinio.getAnnuncio().getDocente().getNome()} </p>
                    </div>							
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <#if (tirocinio.resoconto.nome)??>
        <#if (tirocinio.resoconto.valutazione!=0)>
   <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-body timeline-container">
                    <div class="text-center ">
                        <p>Scarica l'attestato:</p>
                        <form action="Download">
                            <input hidden value="${tirocinio.resoconto.id}" name="resoconto"/>
                            <div>
                                <input type="submit" class="form-contol btn btn-success"  value="DOWNLOAD"/>
                            </div>
                        </form>							
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
       
        <#else>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-body timeline-container">
                    <div class="text-center ">
                        <p>Valuta l'esperienza di tirocinio e scarica l'attestato:</p>
                        <form action="Download">
                            <div class="rating">
                                <input type="radio" id="star1" name="rating" value="5" /><label class = "full" for="star1" title="1 stars"></label>
                                <input type="radio" id="star2" name="rating" value="4" /><label class = "full" for="star2" title="2 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                                <input type="radio" id="star4" name="rating" value="2" /><label class = "full" for="star4" title="4 stars"></label>
                                <input type="radio" id="star5" name="rating" value="1" /><label class = "full" for="star5" title="5 star"></label>
                            </div>
                            <input hidden value="${tirocinio.resoconto.id}" name="resoconto"/>
                            <div>
                                <input type="submit" class="form-contol btn btn-success" value="DOWNLOAD"/>
                            </div>
                        </form>							
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    </#if>
    </#if>
    
    <#else>
    <div class="col-md-8 col-md-offset-2 mt-1">
        <div class="panel panel-primary ">
            <div class="panel-heading "> Info tirocinio</div>
            <div class="panel-body timeline-container">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><em class="fa fa-user"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>REGISTRATI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Compila i campi inserendo le proprie credenziali. Completa inserendo:</p>
                                <ul>
                                    <li>Crediti richiesti</li>
                                    <li>Email e nome del tutore</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary"><em class="fa fa-handshake-o"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>CONTATTA L'AZIENDA</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Scegli l'azienda adatta a te ed avvia il tirocinio</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-flag"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>STAMPA I DOCUMENTI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Al termine del tirocinio avrai a disposizione tutta la documentazione da consegnare in segreteria studenti</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="panel-body text-center"><p>Cerca azienda convenzionata:<p><a class="btn btn-lg btn-primary" name="azienda" href="hometirocini" role="button">CERCA AZIENDA</a></div>
            </div>
        </div>
    </div>
    </#list>
 </div><!--/.main--> 
