<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="homepage"> <em class="fa fa-home"></em> </a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading mt-1">Benvenuto</div>
            <div class="panel-body">
                <p>Internship Tutor ha l'obiettivo di favorire il contatto fra l'universit&agrave;, gli studenti e le aziende interessate alla realizzazione di tirocini. Attraverso il servizio online dell'Ateneo potrai consultare l'elenco di tutte le strutture convenzionate, presso quale svolgere il tirocinio.</p>
                <p class="text-center"><strong>Sei un'azienda o uno studente?</strong></p>
                <p class="text-center">
                    <a class="btn btn-lg btn-primary" href="#registra" role="button">Azienda</a>
                    <a class="btn btn-lg btn-primary" href="#" role="button">Studente</a>
                </p>
            </div>
        </div>
        <div class="panel panel-primary ">
            <div class="panel-heading "> Sei uno Studente?</div>
            <div class="panel-body timeline-container">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge primary"><em class="fa fa-user"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>REGISTRATI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Compila i campi inserendo le proprie credenziali. Completa inserendo:</p>
                                <ul>
                                    <li>Crediti richiesti</li>
                                    <li>Email e nome del tutore</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-handshake-o"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>CONTATTA L'AZIENDA</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Scegli l'azienda adatta a te ed avvia il tirocinio</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-flag"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>STAMPA I DOCUMENTI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Al termine del tirocinio avrai a disposizione tutta la documentazione da consegnare in segreteria studenti</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="panel-body text-center"><a class="btn btn-lg btn-primary" name="registra" href="SignUp?registra=ST" role="button">Registrati come Studente</a></div>
            </div>
        </div>
        <div class="panel panel-primary ">
            <div class="panel-heading">Sei una Azienda?</div>
            <div class="panel-body timeline-container">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge primary"><em class="fa fa-user"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>REGISTRATI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Compila i campi inserendo i contatti di riferimento. Completa inserendo:</p>
                                <ul>
                                    <li>Ragione sociale</li>
                                    <li>Indirizzo sede legale</li>
                                    <li>Partita IVA</li>
                                    <li>Sede giudiziaria di riferimento</li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-list-ul"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>PUBBLICA ANNUNCIO</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Inserisci il periodo, le skill richieste e gli obiettibi da raggiungere</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-handshake-o"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>RICEVI PROPOSTE DI TIROCINIO</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Gli studenti intenti a svolgere un tirocinio presso la tua sede ti contatteranno attraverso il recapito inserito in fase di registrazione</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><em class="fa fa-flag"></em></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><strong>GESTISCI TIROCINANTI</strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p>Potrai valutare le proposte di tirocinio, concludere il percorso degli studenti ed esprimere una valutazione in merito al lavoro svolto.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="panel-body text-center"><a class="btn btn-lg btn-primary" href="SignUp" role="button">Registrati come Azienda</a></div>
            </div>
        </div>
    </div>
    <div class="row"> </div>
</div>