<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Internship Tutor - UNIVAQ</title>
        <link href="Template/css/bootstrap.min.css" rel="stylesheet">
        <link href="Template/css/font-awesome.min.css" rel="stylesheet">
        <link href="Template/css/datepicker3.css" rel="stylesheet">
        <link href="Template/css/styles.css" rel="stylesheet">
        <link href="Template/css/stelle.css" rel="stylesheet">

        <!--Theme-->
        <link href="Template/css/theme-default.css" rel="stylesheet">

        <!--Custom Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Internship Tutor</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="Template/images/profile-pic-1.jpg" width="60" alt="Logo Univaq" class="img-circle" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <#if utente_username??>
                        ${utente_username}
                        <#else>
                        <a href="login"> Accedi</a>
                        </#if>
                    </div>
                    <div class="profile-usertitle-status"><span class="indicator label-danger"></span>
                        <#if utente_tipo??>
                        <#switch utente_tipo>
                            <#case "AM">
                                ADMIN
                            <#break>
                            <#case "ST">
                                STUDENTE
                            <#break>
                            <#case "AZ">
                                AZIENDA
                            <#break>
                        </#switch>
                        <#else>
                        OFFLINE
                        </#if>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="divider"></div>
            <ul class="nav menu">
                <li class="active"><a href="homepage"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
                <li><a href="hometirocini"><em class="fa fa-calendar">&nbsp;</em> Tirocini</a></li>
                <li><a href="aziende"><em class="fa fa-bar-chart">&nbsp;</em> Aziende</a></li>
                <li><a href=""><em class="fa fa-hand-pointer-o">&nbsp;</em> Faq</a></li>
                <li>
                    <#if utente_username??>
                        <a href="Logout"><em class="fa fa-sign-in">&nbsp;</em> Logout</a></li>
                    </#if>
            </ul>
        </div><!--/.sidebar-->

        <!--body-->
         <#include content_tpl>
        <!--/.body-->
        
        <script src="Template/js/jquery-1.11.1.min.js"></script>
        <script src="Template/js/bootstrap.min.js"></script>
        <script src="Template/js/chart.min.js"></script>
        <script src="Template/js/chart-data.js"></script>
        <script src="Template/js/easypiechart.js"></script>
        <script src="Template/js/easypiechart-data.js"></script>
        <script src="Template/js/bootstrap-datepicker.js"></script>
        <script src="Template/js/custom.js"></script>

    </body>
</html>
