<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Internship Tutor</title>
		<link href="Template/css/bootstrap.min.css" rel="stylesheet">
		<link href="Template/css/styles.css" rel="stylesheet">

		<!--Theme-->
		<link href="Template/css/theme-default.css" rel="stylesheet">
		<!--Custom Font-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
				<div class="login-panel panel panel-primary">
					<div class="panel-heading">Sign In</div>
					<div class="panel-body">
						<form role="form" method="POST">
							<fieldset>
								<label class="">Dati di accesso</label>
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Username" name="usernameStudente" type="text" autofocus required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Email" name="emailDatiDiAccesso" type="email" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Password" name="password" type="password" required>
									</div>
								</div><!--./row -->
								<hr>
								<label class="">Informazioni personali</label>
								<div class="row">
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Nome" name="nomeStudente" type="text" required>
									</div>
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Cognome" name="cognomeStudente" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input placeholder="Data di Nascita gg/mm/aaaa" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="dataNascita">
									</div>
									<div class="col-lg-6 mt-1">
												<input class="form-control" placeholder="Codice Fiscale" name="CFStudente" type="text" required>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Luogo di Nascita" name="luogoNascita" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="CAP Luogo di Nascita" name="capNascita" type="number" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Provincia di Nascita" name="provinciaNascita" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Telefono" name="telefono" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row ">
									<div class="col-lg-6 mt-1">
										<select name="handicap"class="form-control">
											<option id="labelHandicap" value="" disabled selected>Portatore di handicap</option>
											<option name="handicap" value="true">Si</option>
											<option name="handicap" value="false">No</option>
										</select>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Citt&aacute; di residenza" name="cittaResidenzaStudente" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="CAP di residenza" name="capResidenza" type="number" required>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Indirizzo Residenza" name="indirizzoResidenza" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Provincia di Residenza" name="provinciaResidenza" type="text" required>
									</div>
								</div>
								<hr>
								<label class="">Informazioni sugli studi</label>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Diplomato in" name="diploma" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Laureato in" name="laureato" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Dottorato" name="dottorato" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
											<input class="form-control" placeholder="Corso di laurea in corso" name="corso" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
												<input class="form-control" placeholder="Crediti richiesti" name="crediti" type="number" required>
									</div>
								</div>
								<div class="row mt-5">
									<div class="text-center col-lg-6 col-lg-offset-3">
										<input name="signup" class="btn btn-lg btn-primary" value="ST" type="submit">
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<footer class="col-sm-12 mt-1">
					<p class="back-link">Università degli studi dell' Aquila</p>
		</footer>
		<script src="Template/js/jquery-1.11.1.min.js"></script>
		<script src="Template/js/bootstrap.min.js"></script>
	</body>
</html>
