<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Internship Tutor</title>
		<link href="Template/css/bootstrap.min.css" rel="stylesheet">
		<link href="Template/css/styles.css" rel="stylesheet">

		<!--Theme-->
		<link href="Template/css/theme-default.css" rel="stylesheet">
		<!--Custom Font-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
				<div class="login-panel panel panel-primary">
					<div class="panel-heading">Sign In</div>
					<div class="panel-body">
						<form role="form">
							<fieldset>
								<label class="">Azienda</label>
								<div class="row">
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Ragione sociale" id="ragioneSociale" type="text"  autofocus required>
									</div>
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Indirizzo sede legale" id="email" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row">
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Citt&agrave;" id="città" type="text" required>
									</div>
								  <div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Provincia" id="Provincia" type="string" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
 									 <input class="form-control" placeholder="CAP" id="cap" type="number" required>
 								 </div>
								 <div class="col-lg-6 mt-1">
									 <input class="form-control" placeholder="Codice fiscale / P.IVA" id="CF_PIva" type="text" required>
								 </div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Telefono sede legale" id="telSede" type="number"  required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Foro competente" id="foro" type="text"  required>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Durata Convenzione" id="durataConvenzione" type="text" required>
									</div>
								</div><!-- Fine Azienda -->
								<hr>
								<label>Rappresentante</label>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Nome" id="nomeRappresentante" type="text"  required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Cognome" id="cognomeRappresentante" type="text"  required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="email" id="emailRappresentante" type="email"  required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Telefono" id="telRappresentante" type="number" required>
									</div>
								</div><!--./row -->
								<hr> <!-- Fine Rappresentante-->
								<label>Responsabile</label>
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Nome" id="nomeResponsabile" type="text" required>
									</div>
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Cognome" id="cognomeResponsabile" type="text" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="email" id="emailResponsabile" type="email" required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Telefono" id="telefonoResponsabile" type="number" required>
									</div>
								</div><!--./row -->
								<hr> <!-- Fine Responsabile-->
								<label>Dati di accesso</label>
								<div class="row">
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Username" id="usernameAzienda" type="email" required>
									</div>
									<div class="col-lg-6 mt-1">
									  <input class="form-control" placeholder="Email" id="emailAccessoAzienda" type="email" required>
									</div>
								</div><!--./row -->
								<div class="row">
									<div class="col-lg-6 mt-1">
										<input class="form-control" placeholder="Password" id="password" type="password" required>
									</div>
								</div>
								<!-- Fine Dati di Accesso-->
								<div class="row mt-5">
									<div class="text-center col-lg-6 col-lg-offset-3">
										<a href="" class="btn btn-lg btn-primary">Iscriviti</a>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<footer class="col-sm-12 mt-1">
					<p class="back-link">Università degli studi dell' Aquila</p>
		</footer>
		<script src="Template/js/jquery-1.11.1.min.js"></script>
		<script src="Template/js/bootstrap.min.js"></script>
	</body>
</html>
