<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Error 404</title>
		<link href="Template/css/bootstrap.min.css" rel="stylesheet">
		<link href="Template/css/font-awesome.min.css" rel="stylesheet">
		<link href="Template/css/styles.css" rel="stylesheet">
		
		<!--Theme-->
		<link href="css/theme-default.css" rel="stylesheet">
		
		<!--Custom Font-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="error-page text-center">
                                    <h2>
                                        <#if signup_done??>
                                            ${signup_done}
                                        <#else>
                                            ${annuncio_done}
                                        </#if>
                                    </h2>
                                    <h3>
                                        <#if body??>
                                            ${body}
                                        </#if>
                                    </h3>
					<div class="mt-5">
						<a href="homepage" class="btn btn-lg btn-primary"><i class="fa fa-reply"></i> Homepage</a>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->	
		<script src="Template/js/jquery-1.11.1.min.js"></script>
		<script src="Template/js/bootstrap.min.js"></script>
	</body>
</html>
